name: Build Fabric Mod

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Mod Jar
        uses: actions/upload-artifact@v4
        with:
          name: My-Elytra-Mod
          path: build/libs/*.jar

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
